* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    height: 30vh;
    background-color: #01a3a4;
}

body {
    background-color: #eee;
}

.search {
    padding: 24px 0 0 24px;
}

.search label {
    color: #eee;
    border-bottom: 2px solid #eee;
    padding: 2px;
}

.search input {
    color: #eee;
    padding: 2px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #eee;
}

.search button {
    padding: 2px;
    border: none;
    border: 2px solid #eee;
    border-radius: 3px;
    background-color: #eee;
    color: #5c4f4f;
    cursor: pointer;
}

@media (max-width: 767px) {
    .search button {
        display: block;
        width: 30vw;
        margin-top: 10px;
    }
}

.search button:hover {
    background: #beb4b4;
    border-color: #beb4b4;
}

.container {
    position: relative;
    bottom: -50%;
    text-align: center;
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
}

.container img {
    border-radius: 50%;
    margin-bottom: 24px;
    width: 180px;
    height: 180px;
}

.container h1 {
    font-size: 2em;
}

.container h2 {
    margin: 16px 0 32px;
    font-size: 1.1em;
}

.container .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.container .list__item {
    list-style: none;
    font-size: 3em;
    font-weight: bold;
}

.container .list__item h3 {
    font-size: .3em;
}

.container a {
    background-color: #01a3a4;
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block;
    margin-top: 24px;
    color: #fff;
}