* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.conteiner {
    display: flex;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

header {
    padding: 16px 0;
}

h1 {
    text-transform: uppercase;
    font-weight: bold;
}

form input {
    display: flex;
    padding: 8px 0;
    margin-top: 6px;
    width: 400px;
    border-radius: 5px;
    font-size: 13px;
}

form button {
    background-color: rgb(59, 59, 209);
    padding: 8px;
    border: none;
    border-radius: 5px;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}